ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    background-color: white;
  width: 1406px;
  border: 9px solid white;
  padding: 1px;
  margin: 0px;}
  
li {
    float: right;}

li a {
    display: block;
    color: rgb(131, 126, 126);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
  
li a {
    background-color: white;}
    
body {
  background-color:lightgrey}

section { 
  color: #4aaaa5;
        font-size: 19px;
        margin: 0;}

div {
  background-color: white;
            text-align: center;
            width: 800;
            height: 900;}

.AboutMe {
            width: 960px;
            border: 0px solid white;
            margin: 0 auto;
            background-color: white;
            text-align: left;
            height: 2575px;}
            
.container {
              position: relative;
              background-color: #4aaaa5;
              top: 20px;
                left: -367px;
                text-align: center;
                width: 9}

    
