body {background-color: lightgrey;
text-align: left;}

.boxshit
{width: 960px;
    border: 0px solid white;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    height: 800px;}

    .imageplaceholder {
        float: left;
        text-align: left;
    padding: 20px;}

    .imageplaceholder2 {float: left;
        text-align:right;
        padding: 20px;}

    .imageplaceholder3 {float: left;
        text-align:right;
        padding: 20px;}

    .imageplaceholder4 {float: left;
        text-align:right;
        padding: 20px;}

    .imageplaceholder5 {float: left;
        text-align:right;
        padding: 20px;}

    .imageplaceholder6 {float: left;
        text-align:right;
        padding: 20px;}
        .row div {
            width: 50%;
            display: inline;
        }