body {background-color: lightgrey;
text-align: left;}

.boxshit
{width: 960px;
    border: 0px solid white;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    height: 800px;}

    .imageplaceholder {text-align:left;}

    .imageplaceholder2 {text-align:right;}

    .imageplaceholder3 {text-align: left;}

    .imageplaceholder4 {text-align: right;}

    .imageplaceholder5 {text-align: left;}

    .imageplaceholder6 {text-align: right;}